In [ ]:
for num in range(0,20):
    print(num)

In [ ]:
for num in range(10,20):
    print(num,end=" ")

In [ ]:
list = [67,23,4,45,1,90,78]

length = len(list)
print(list)
print('Number of items in the list2:',length)

In [1]:
n = input()
for temp in n:
    print(temp)

nas
n
a
s

In [9]:
list = ['-Your Name-','-Your Age-','-Your profession-']

for temp in list:
    
        print(temp)

-Your Name-
-Your Age-
-Your profession-

In [13]:
tup = [1,'Welcome',2,'Hope']
print (tuple(tup))

(1, 'Welcome', 2, 'Hope')

In [14]:
tuple1 = (0,1,2,3)
tuple2 = ('Python','Hope')
tuple3 = (tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [43]:
n = (19,5,3,11,2,4,6,10,20,16,19)
print(n)
for temp in n:
    if((temp%2)==1):
        
        
        print(temp,'is odd')

(19, 5, 3, 11, 2, 4, 6, 10, 20, 16, 19)
19 is odd
5 is odd
3 is odd
11 is odd
19 is odd

In [44]:
n = (19,5,3,11,2,4,6,10,20,16,19)
print(n)
for temp in n:
    if((temp%2)==0):
        
        
        print(temp,'is even')

(19, 5, 3, 11, 2, 4, 6, 10, 20, 16, 19)
2 is even
4 is even
6 is even
10 is even
20 is even
16 is even